/* Original template by purecss.io | Modified by Anna Guinet */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	/* color: #595959; */
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: none;
}

h3 {
    font-weight: 100;
	color: rgb(75, 75, 75);
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
	border-radius: 5px;
}

#layout {
    padding: 0;
}


.sidebar {
    background: rgb(18, 34, 76);
    color: #fff;
}

/*
 * -- Content STYLE --
 * 
 */

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.8em;
}
.brand-tagline {
    font-weight: 300;
    color: #B1C5FC;
	font-family: 'Roboto Regular';
}

.nav ul{
	margin-top: 2em;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    *display: inline-block;
    display: inline;
	padding-top: 1em;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
    display: block;
}

.nav-item a:focus{
	color: #ffffff;
	text-decoration: none;
	background: #A62D5D;
}

.nav-item a:hover{
    color: #A62D5D;
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #222;
    border-bottom: 1px solid #B1C5FC;
    padding: 0.4em 0;
    font-size: 80%;
    letter-spacing: 0.1em;
	font-family: 'Cabin SemiBold'; 
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 0.5em;
}

.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: 'Cabin Regular', Georgia, "Cambria", serif;
    color: #222;
    line-height: 1.8em;
	margin-bottom: 1em;
}

	.post-description p a{
		color: #222;
		text-decoration:underline;
	}

	.post-description li a{
		color: #222;
		text-decoration:underline;
	}

.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-link {
    margin: 0.2em 0.1em 0.8em 0em;
    padding: 0.3em 0.6em;
    font-size: 90%;
	font-family: 'Cabin Regular', sans-serif;
	text-align: center;
}

	.post-link .no-margin-bottom{
		margin: 0.2em 0.1em 0em 0em;
	}

    .post-link-bib {
        color: #1FA149;
        background: #ffffff;
        border: 2px solid #1FA149;
    }
		.post-link-bib:hover, 
    	.post-link-bib:focus {
	        color: #fff;
	        background: #1FA149;
    	}
	
	.post-link-url {
        color: #8156a7;
        background: #ffffff;
        border: 2px solid #8156a7;
    }
    	.post-link-url:hover, 
    	.post-link-url:focus {
	        color: #fff;
	        background: #8156a7;
    	}

    .post-link-url2 {
        color: #A62D5D;
        background: #ffffff;
        border: 2px solid #A62D5D;
    }
    	.post-link-url2:hover, 
    	.post-link-url2:focus {
	        color: #fff;
	        background: #A62D5D;
    	}

    .post-link-video {
        color: #C42D8C;
        background: #ffffff;
        border: 2px solid #C42D8C;
    }
    	.post-link-video:hover, 
    	.post-link-video:focus {
	        color: #fff;
	        background: #C42D8C;
    	}

	.post-link-escada-clock {
		padding: 0.3em 1em;
        background: #8156a7;
		width: 100%;
		max-width: 160px;
		margin: 3em auto;
		display: block;
		color: #fff;
    }
	
	.post-link-escada-homepage{
		padding: 0.3em 1em;
		background: #8156a7;
		width: 100%;
		margin: 3em auto;
		max-width: 200px;
		color:#fff;
		font-size: 100%;
	}
	

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.pure-g{
	text-rendering: optimizespeed;
}

.nav ul{
	margin-top: 2em;
}

ul.list-style-square{
	list-style-type:square;
	margin-top: 0;
}

span.post-category{
	/*color: white;
	background: #A62D5D;
	padding: 0 7px;
	text-transform: uppercase;
	font-size: 10pt;
    font-family: 'Cabin Regular', sans-serif;*/
    padding: 0 10px;
	font-size: 10pt;
	font-weight: 500;
	font-style: normal;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #A62D5D;
	border-radius: 0rem;
	-webkit-border-radius: 0rem;
	-moz-border-radius: 0rem;
	border-style: none;
	border-width: 0rem;
	border-color: #EF2D56;
/*	-webkit-box-shadow: inset 25px 8px 0px -16px rgba(18,34,76,1);
	-moz-box-shadow: inset 25px 8px 0px -16px rgba(18,34,76,1);
	-box-shadow: inset 25px 8px 0px -16px rgba(18,34,76,1);*/
}

span.post-dates{
	font-family: 'Cabin Regular', sans-serif;
	color: #222;
	/* text-transform: uppercase; */
	font-size: 11pt;
}
	span.post-dates.post-dates-news{
		text-transform: none;
		font-style: italic;
		padding-left: 5px;
		font-size: 10pt;
	}
	
	span.post-dates.post-dates-resume{
		font-weight: bold;
		/* font-size: 10pt; */
	}
	
span.post-venue{
	font-family: 'Cabin Regular', sans-serif;
	color: #222;
	text-transform: uppercase;
	font-size: 11pt;
}

span.post-title {
	font-family: 'Cabin Regular', sans-serif;
	color: #222;
}
	span.post-title.post-title-resume {
		font-weight: bold;
	}

span.post-separator{
	font-weight: normal;
	color: #222;
	font-size: 10pt;
	padding: 0 0.2em;
	vertical-align: bottom;
	font-family: 'Cabin Regular', sans-serif;
}

span.post-resume{
	color: #222;
	font-family: 'Cabin Regular', arial;
	/* text-transform: uppercase; */
}

	span.post-resume a{
		color: #A62D5D;
		text-decoration:none;
	}
		
	span.post-resume a:hover{
		text-decoration: none;
		color: black;
	}

span.post-resume i{
	color: #222;
}

span.post-location{
	font-weight: light;
/*	font-style: italic;*/
	color: #A62D5D;
	font-size: 0.9em;
	font-family: 'Cabin Italic', sans-serif;
}

p.post-text-resume{
	margin-top:0;
}

/*
 * -- HEADER STYLE --
 * 
 */
 
.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
	font-family: 'Cabin Regular'; 
}


	.header img{
		max-width:180px;
		width: 100%;
		border-radius:50%;
		margin-bottom: 1em;
	}

	.header .pure-menu-list {
		margin-top: 1em;
		padding: 0;
		list-style: none;
	}
	
	.header .pure-menu-item {
		*display: inline-block;
		display: inline;
		padding-top: 1em;
		zoom: 1;
	}
		.header .pure-menu-item a {
			margin: 0;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			font-size: 110%;
			display: block;
			color: #fff;
		}

		.header .pure-menu-item a:hover{
			color: #A62D5D;
			text-decoration: none;
			background: none;
		}

		.header .pure-menu-item a:active{
			color: #A62D5D;
			text-decoration: none;
			background: none;
		}

	.header .pure-menu-link{
		padding: .3em 0 .2em 0;
	}

		.header .pure-menu-link.pure-menu-link-active{
			color: #A62D5D;
			text-decoration: none;
			background: none;
		}
	

	.header .pure-menu-list li .pure-menu-link:hover,
    .header .pure-menu-list li .pure-menu-link:focus{
    	text-decoration: none;
		background: transparent;
    }

.pure-menu-selected{
	color: #A62D5D;
}


/*
 * -- FOOTER STYLE --
 * 
 */
 
.footer {
    padding: 1em 0;
	font-family: 'Cabin Regular';
}

	.footer a {
		color: #222;
		text-decoration: underline;
	} 

	.footer .pure-menu a:hover,
	.footer .pure-menu a:focus {
		background: none;
	}

	.footer h3{
		color: #A62D5D;
		text-align: center;
	}
	
	.footer hr{
		color: #A62D5D;
	}

	.footer p{
		text-align: center;
		font-family: 'Cabin Regular';
	}

/*
 * -- IMG STYLES --
 * Some useful classes
 */
 
.is-img-centered{
	position: relative;
	text-align: center;
	margin: 0 auto;
	width: auto;
	max-width: 25%;
}

/* Centered text */
.is-text-img-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120%;
}

	.is-text-img-centered.text-img-pbc{
		color: #403328;
		margin-top: 55px;
	}
	
	.is-text-img-centered.text-img-alice{
		color: #2c2257;
		margin-top: 45px;
	}
	
	.is-text-img-centered.text-img-crossfyre{
		color: white;
		border: 2px solid white;
		padding: 0.5em 0.6em;
		border-radius: 5px;
	}
	
	

.img-zoom img{
	transition: 0.7s ease;
}
	
	.img-zoom img:hover {
		opacity: 0.6;
	}	
 
.escada-logo{
	max-width: 180px;
	width: 100%;
	margin: 1em auto;
	display: block;
	text-align: center;
	font-size: 90%;
}

.escada-link{
	max-width: 150px;
	width: 100%;
	margin: 1em auto;
	display: block;
	text-align: center;
	font-size: 90%;
}

.xkcp-logo{
	max-width: 450px;
	width: 100%;
	margin: 1em auto;
	display: block;
	text-align: center;
}

/*
 * -- LAYOUT STYLES --
 * Some useful classes
 */

/* Put content in the middle of the page */
.is-text-center {
	margin: 0 auto;
	width: auto;
	max-width: 90%;
}


/*
 * -- SMALL DEVICES STYLES --
 * Some useful classes for big screens
 */
@media (max-width: 48em) {

	/* CImg */
	.pure-img-responsive {
    	max-width: 120%;
	}

	/* Centered text */
	.is-text-img-centered {
		margin: 0 auto;
		font-size: 95%;
	}

	.is-text-img-centered.text-img-pbc{
		color: black;
		margin-top: 20px;
	}

	.is-text-img-centered.text-img-alice{
		color: black;
		margin-top: 20px;
	}
	
	.is-text-img-centered.text-img-crossfyre{
		color: white;
		border: none;
		margin-top: 0;
	}
}

/*
 * -- LAPTOP-SIZE DEVICES STYLES --
 * Some useful classes for laptops to override some styles
 */
@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 20% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .footer {
        text-align: center;
    }
}


/*
 * -- LARGE SCREENS STYLES --
 * Some classes for big screens to override some styles
 */
@media (min-width: 90em){

	.content{
		font-size: 101.5%;
	}

	.is-text-img-centered.text-img-pbc{
		margin-top: 80px;
	}

	.is-text-img-centered.text-img-alice{
		margin-top: 70px;
	}
	
	.sidebar{
		width: 20%;
	}
	
	.content {
        padding: 2em 3em 0;
        margin-left: 22%;
    }
	
	.pure-img-responsive{
		max-width: 90%;
	}
}